$primary_color: #000;
$accent_color: #f97819;
$bg_color: #f4f4f4;
$white_color: #fff;
$blue_color: #b2d8fd;
html, body {
  margin: 0;
  padding: 0;
  font-family: 'PF Centro Sans Pro';
  color: $primary-color;
}
body {
  background-color: $bg_color;
}
a {
  color: $primary_color;
}
.bread {
  ul {
    padding: 0;
  }
}
/**MAIN*/
main {
  padding: 30px 0;
  .main-border {
    height: 10px;
    background-color: $blue_color;
    margin: 0 -15px;
  }
  .container {
    -webkit-box-shadow: 0 0 16px #ccc;
    -moz-box-shadow: 0 0 16px #ccc;
    box-shadow: 0 0 16px #ccc;
    background-color: $white_color;
  }
}
/**PERFORMER*/
.performer {
  h3 {
    font-weight: 900;
    font-size: 24px;
    padding: 0;
    margin: 0;
  }
  .row {
    border-bottom: 1px solid #e6e6e6;
  }
  .performer-top-info {
    padding: 30px 0;
    .user-avatar {
      padding: 10px;
      -webkit-box-shadow: 0 0 10px #ccc;
      -moz-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
      img {
        width: 100%;
      }
    }
    .user-essential {
      display: flex;
      .user-ico {
        padding: 0 12px;
        img {
          margin-top: 8px;
        }
      }
      .user-name {
        font-size: 27px;
        padding: 0;
        margin: 0;
      }
      .user-profession {
        margin: 12px 0 18px;
        a {
          font-size: 18px;
        }
      }
      .last-visit {
        font-size: 12px;
      }
      .user-line {
        width: 226px;
        height: 1px;
        background-color: #e6e6e6;
      }
      .user-experience {
        font-size: 12px;
      }
      .user-rating {
        margin-top: 18px;
        span.rating {
          display: inline-block;
          padding: 4px 15px;
          border: 1px solid #21cc3d;
          color: #21cc3d;
          font-weight: 700;
          margin-right: 10px;
        }
        .user-reviews-amount {
          font-size: 24px;
          line-height: 24px;
          vertical-align: text-top;
          font-weight: 900;
        }
        .user-reviews-link {
          font-size: 12px;
          vertical-align: bottom;
        }
      }
    }
    .user-proofs {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      border-left: dotted #e6e6e6;
      border-right: dotted #e6e6e6;
      span {
        font-weight: 700;
        font-size: 13px;
        padding: 10px 0 0;
        &:after {
          content: '';
          display: block;
          height: 1px;
          background-color: #e6e6e6;
          width: 200px;
          margin-top: 10px;
        }
        &:last-child:after {
          display: none;
        }
        img {
          margin-right: 15px;
          vertical-align: bottom;
        }
      }
    }
    .user-main-prices {
      display: flex;
      flex-direction: column;
      p {
        font-weight: 700;
        font-size: 13px;
        padding: 10px 0 0;
        margin: 0;
        span.mp-img {
          display: inline-block;
          min-width: 50px;
          img {
            vertical-align: bottom;
          }
        }
        span.mp-price {
          font-size: 15px;
          b {
            font-size: 18px;
          }
        }
        &:after {
          content: '';
          display: block;
          height: 1px;
          background-color: #e6e6e6;
          width: 200px;
          margin-top: 10px;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
  .performer-map {
    padding: 30px 0;
    address {
      font-style: normal;
      font-size: 18px;
      background-image: url('../img/flag.png');
      padding: 30px 0 30px 30px;
      background-position: left center;
      background-repeat: no-repeat;
    }
  }
  .performer-services {
    padding: 30px 0;
    table.services-table {
      margin-top: 30px;
      width: 100%;
      thead {
        font-size: 16px;
        font-weight: 500;
        th {
          padding-top: 30px;
          padding-bottom: 30px;
          &:first-child {
            text-align: left;
            padding-left: 30px;
          }
          background-color: $blue_color;
        }
      }
      tr.table-subheading {
        th {
          font-weight: 900;
          font-size: 15px;
          text-align: left;
          padding: 30px;
          background-image: url('../img/service-flag.png');
          background-position: 2px center;
          background-repeat: no-repeat;
        }
      }
      tr.table-content {
        &:nth-of-type(even) {
          background-color: #f7fafc;
        }
        th {
          font-size: 13px;
          padding: 20px 0;
          &:first-child {
            text-align: left;
            padding-left: 30px;
          }
        }
      }
    }
  }
}
/**FOOTER*/
footer {
  background-color: $white_color;
  padding: 60px 0;
  border-bottom: 4px solid $accent_color;
  .copyright {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 20px;
  }
  .footer-nav {
    margin: 0;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 10em;
    padding-left: 0;
    li {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 12px;
      a {
        font-size: 13px;
      }
    }
  }
  .footer-social {
    margin-top: 25px;
    a {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .agreement {
    font-size: 12px;    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .agreement-notice {
      font-weight: 600;
    }
  }
  .footer-phone {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
    span {
      position: relative;
      padding-left: 20px;
      &:before {
        width: 20px;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/icon_tel.png) no-repeat 0 50%;
      }
    }
  }
  .work-hours {
    font-size: 12px;
    text-align: right;
    p {
      margin-top: 12px;
    }
  }
}




/**MEDIA*/
@media (max-width:1200px) {
  footer {
    .agreement {
      padding: 25px 0;
    }
    .footer-phone {
      text-align: center;
    }
    .work-hours {
      text-align: center;
    }
  }
}
@media (max-width:992px) {
  footer {
    .footer-logo {
      display: block;
      text-align: center;
    }
    .copyright {
      text-align: center;
    }
    .footer-nav {
      max-height: unset;
      list-style: none;
      li {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        text-align: center;
      }
    }
    .footer-social {
      text-align: center;
      a {
        padding: 20px;
        margin: 0;
      }
    }
    .agreement {
      padding: 25px 0;
    }
    .footer-phone {
      text-align: center;
    }
    .work-hours {
      text-align: center;
    }
  }
}