html, body {
  margin: 0;
  padding: 0;
  font-family: 'PF Centro Sans Pro';
  color: #000; }

body {
  background-color: #f4f4f4; }

.w-100 {
  width: 100% !important; }

a {
  color: #000; }

img {
  max-width: 100%; }

.bread ul {
  padding: 0; }

.btn-white {
  display: inline-block;
  padding: 10px 70px;
  font-size: 12px;
  font-weight: 900;
  border-radius: 4px;
  border: 1px solid #bab9b9;
  text-decoration: none;
  -webkit-transition: ease 250ms;
  -moz-transition: ease 250ms;
  -ms-transition: ease 250ms;
  -o-transition: ease 250ms;
  transition: ease 250ms; }
  .btn-white:hover {
    border-color: #000; }

/**MAIN*/
main {
  padding: 30px 0; }
  main .main-border {
    height: 10px;
    background-color: #b2d8fd;
    margin: 0 -15px; }
  main .container {
    -webkit-box-shadow: 0 0 16px #ccc;
    -moz-box-shadow: 0 0 16px #ccc;
    box-shadow: 0 0 16px #ccc;
    background-color: #fff; }

/**PERFORMER*/
.performer h3 {
  font-weight: 900;
  font-size: 24px;
  padding: 0;
  margin: 0; }
.performer .row {
  border-bottom: 1px solid #e6e6e6; }
.performer .performer-top-info {
  padding: 30px 0; }
  .performer .performer-top-info .user-avatar {
    padding: 10px;
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc; }
    .performer .performer-top-info .user-avatar img {
      width: 100%; }
  .performer .performer-top-info .user-essential {
    display: flex; }
    .performer .performer-top-info .user-essential .user-ico {
      padding: 0 12px; }
      .performer .performer-top-info .user-essential .user-ico img {
        margin-top: 8px; }
    .performer .performer-top-info .user-essential .user-name {
      font-size: 27px;
      padding: 0;
      margin: 0; }
    .performer .performer-top-info .user-essential .user-profession {
      margin: 12px 0 18px; }
      .performer .performer-top-info .user-essential .user-profession a {
        font-size: 18px; }
    .performer .performer-top-info .user-essential .last-visit {
      font-size: 12px; }
    .performer .performer-top-info .user-essential .user-line {
      width: 226px;
      height: 1px;
      background-color: #e6e6e6; }
    .performer .performer-top-info .user-essential .user-experience {
      font-size: 12px; }
    .performer .performer-top-info .user-essential .user-rating {
      margin-top: 18px; }
      .performer .performer-top-info .user-essential .user-rating span.rating {
        display: inline-block;
        padding: 4px 15px;
        border: 1px solid #21cc3d;
        color: #21cc3d;
        font-weight: 700;
        margin-right: 10px; }
      .performer .performer-top-info .user-essential .user-rating .user-reviews-amount {
        font-size: 24px;
        line-height: 24px;
        vertical-align: text-top;
        font-weight: 900; }
      .performer .performer-top-info .user-essential .user-rating .user-reviews-link {
        font-size: 12px;
        vertical-align: bottom; }
  .performer .performer-top-info .user-proofs {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    border-left: dotted #e6e6e6;
    border-right: dotted #e6e6e6; }
    .performer .performer-top-info .user-proofs span {
      font-weight: 700;
      font-size: 13px;
      padding: 10px 0 0; }
      .performer .performer-top-info .user-proofs span:after {
        content: '';
        display: block;
        height: 1px;
        background-color: #e6e6e6;
        width: 200px;
        margin-top: 10px; }
      .performer .performer-top-info .user-proofs span:last-child:after {
        display: none; }
      .performer .performer-top-info .user-proofs span img {
        margin-right: 15px;
        vertical-align: bottom; }
  .performer .performer-top-info .user-main-prices {
    display: flex;
    flex-direction: column; }
    .performer .performer-top-info .user-main-prices p {
      font-weight: 700;
      font-size: 13px;
      padding: 10px 0 0;
      margin: 0; }
      .performer .performer-top-info .user-main-prices p span.mp-img {
        display: inline-block;
        min-width: 50px; }
        .performer .performer-top-info .user-main-prices p span.mp-img img {
          vertical-align: bottom; }
      .performer .performer-top-info .user-main-prices p span.mp-price {
        font-size: 15px; }
        .performer .performer-top-info .user-main-prices p span.mp-price b {
          font-size: 18px; }
      .performer .performer-top-info .user-main-prices p:after {
        content: '';
        display: block;
        height: 1px;
        background-color: #e6e6e6;
        width: 200px;
        margin-top: 10px; }
      .performer .performer-top-info .user-main-prices p:last-child:after {
        display: none; }
.performer .performer-map {
  padding: 30px 0; }
  .performer .performer-map address {
    font-style: normal;
    font-size: 18px;
    background-image: url("../img/flag.png");
    padding: 30px 0 30px 30px;
    background-position: left center;
    background-repeat: no-repeat; }
.performer .performer-services {
  padding: 30px 0; }
  .performer .performer-services .table-wrapper {
    max-width: 100%; }
  .performer .performer-services table.services-table {
    margin-top: 30px;
    width: 100%;
    border-spacing: 0; }
    .performer .performer-services table.services-table thead {
      font-size: 16px;
      font-weight: 500; }
      .performer .performer-services table.services-table thead th {
        padding-top: 30px;
        padding-bottom: 30px;
        border-right: 1px solid #fff;
        background-color: #b2d8fd; }
        .performer .performer-services table.services-table thead th:first-child {
          text-align: left;
          padding-left: 30px; }
        .performer .performer-services table.services-table thead th:last-child {
          border-right: none; }
    .performer .performer-services table.services-table tr.table-subheading th {
      font-weight: 900;
      font-size: 15px;
      text-align: left;
      padding: 30px;
      background-image: url("../img/service-flag.png");
      background-position: 2px center;
      background-repeat: no-repeat; }
    .performer .performer-services table.services-table tr.table-content:nth-of-type(even) {
      background-color: #f7fafc; }
    .performer .performer-services table.services-table tr.table-content th {
      font-weight: 400;
      font-size: 13px;
      padding: 20px 0;
      border-top: 1px solid #e0ecf8; }
      .performer .performer-services table.services-table tr.table-content th:first-child {
        text-align: left;
        padding-left: 30px;
        border-left: 1px solid #e0ecf8;
        font-size: 13px; }
      .performer .performer-services table.services-table tr.table-content th:nth-child(2) {
        font-size: 15px; }
      .performer .performer-services table.services-table tr.table-content th:nth-child(3) {
        font-size: 15px; }
        .performer .performer-services table.services-table tr.table-content th:nth-child(3) b {
          font-weight: 900;
          font-size: 18px; }
      .performer .performer-services table.services-table tr.table-content th:last-child {
        border-right: 1px solid #e0ecf8;
        font-size: 15px; }
        .performer .performer-services table.services-table tr.table-content th:last-child b {
          font-weight: 900;
          font-size: 18px; }
    .performer .performer-services table.services-table tr.table-content:last-child th {
      border-bottom: 1px solid #e0ecf8; }
.performer .works-gallery {
  padding: 30px 0; }
  .performer .works-gallery h3 {
    margin-bottom: 30px; }
  .performer .works-gallery_item {
    position: relative; }
    .performer .works-gallery_item img {
      border-radius: 6px; }
    .performer .works-gallery_item p {
      font-size: 13px;
      font-weight: 300;
      font-style: italic; }
    .performer .works-gallery_item .icon-zoom {
      position: absolute;
      top: 10px;
      left: 25px;
      display: inline-block;
      width: 34px;
      height: 34px;
      background: url(../img/icon_zoom.png) center no-repeat; }
      .performer .works-gallery_item .icon-zoom:focus {
        outline: none; }
.performer .user-testemonials {
  padding: 30px 0; }
  .performer .user-testemonials h3 small {
    font-weight: 700;
    font-size: 12px;
    color: #7d7d7d;
    vertical-align: text-top; }
  .performer .user-testemonials_item {
    display: flex;
    padding: 30px 100px 0 15px;
    margin-bottom: 60px;
    position: relative; }
    .performer .user-testemonials_item .testemonial-border {
      position: absolute;
      bottom: -30px;
      left: 0;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #e0ecf8; }
    .performer .user-testemonials_item:nth-child(odd) {
      border-right: 1px dotted #e0ecf8; }
    .performer .user-testemonials_item:nth-child(even) .user-testemonials_item_rating {
      padding-left: 15px; }
    .performer .user-testemonials_item_rating {
      font-weight: 900;
      font-size: 30px;
      color: #eb1e1e;
      line-height: 16px;
      padding-right: 20px; }
      .performer .user-testemonials_item_rating span {
        font-size: 26px;
        vertical-align: super; }
    .performer .user-testemonials_item_info .user-testemonial-work {
      font-weight: 900;
      font-size: 15px; }
    .performer .user-testemonials_item_info p {
      font-size: 15px; }
    .performer .user-testemonials_item_info .testemonial-author {
      display: flex;
      justify-content: space-between; }
      .performer .user-testemonials_item_info .testemonial-author .testemonial-author-name {
        font-size: 13px;
        color: #035d90;
        padding-left: 20px;
        padding-top: 2px;
        background: url(../img/user-ico.png) left center no-repeat;
        background-size: 14px; }
      .performer .user-testemonials_item_info .testemonial-author .testemonial-author-date {
        font-size: 12px; }
  .performer .user-testemonials .show_more {
    padding: 30px 0 15px;
    text-align: center;
    position: relative; }
    .performer .user-testemonials .show_more .show_more_border {
      height: 1px;
      width: 100%;
      position: absolute;
      z-index: 3;
      top: -31px;
      background-color: #fff; }

/**FOOTER*/
footer {
  background-color: #fff;
  padding: 60px 0;
  border-bottom: 4px solid #f97819; }
  footer .copyright {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 20px; }
  footer .footer-nav {
    margin: 0;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 10em;
    padding-left: 0; }
    footer .footer-nav li {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 12px; }
      footer .footer-nav li a {
        font-size: 13px; }
  footer .footer-social {
    margin-top: 25px; }
    footer .footer-social a {
      margin-right: 50px; }
      footer .footer-social a:last-child {
        margin-right: 0; }
  footer .agreement {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; }
    footer .agreement .agreement-notice {
      font-weight: 600; }
  footer .footer-phone {
    text-align: right;
    font-size: 18px;
    font-weight: 900; }
    footer .footer-phone span {
      position: relative;
      padding-left: 20px; }
      footer .footer-phone span:before {
        width: 20px;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/icon_tel.png) no-repeat 0 50%; }
  footer .work-hours {
    font-size: 12px;
    text-align: right; }
    footer .work-hours p {
      margin-top: 12px; }

/**MEDIA*/
@media (max-width: 1200px) {
  .performer .performer-top-info .user-proofs {
    border: none;
    margin-top: 25px; }
  .performer .performer-top-info .user-main-prices {
    margin-top: 25px; }
  .performer .user-testemonials_item {
    padding-right: 15px; }
    .performer .user-testemonials_item:nth-child(odd) {
      border: none; }
    .performer .user-testemonials_item:nth-child(even) {
      padding-left: 0; }

  footer .agreement {
    padding: 25px 0; }
  footer .footer-phone {
    text-align: center; }
  footer .work-hours {
    text-align: center; } }
@media (max-width: 992px) {
  .performer .performer-top-info .user-essential .user-name {
    margin-top: 25px; }
  .performer .performer-top-info .user-essential .user-ico {
    margin-top: 25px; }
  .performer .performer-top-info .user-main-prices {
    padding-left: 30px; }

  footer .footer-logo {
    display: block;
    text-align: center; }
  footer .copyright {
    text-align: center; }
  footer .footer-nav {
    max-height: unset;
    list-style: none; }
    footer .footer-nav li {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      text-align: center; }
  footer .footer-social {
    text-align: center; }
    footer .footer-social a {
      padding: 20px;
      margin: 0; }
  footer .agreement {
    padding: 25px 0; }
  footer .footer-phone {
    text-align: center; }
  footer .work-hours {
    text-align: center; } }
@media (max-width: 640px) {
  .performer .performer-services .table-wrapper {
    overflow-x: scroll; }
  .performer .user-testemonials_item .user-testemonials_item_rating {
    font-size: 26px;
    padding-right: 15px; }
    .performer .user-testemonials_item .user-testemonials_item_rating span {
      font-size: 18px; } }

/*# sourceMappingURL=main.css.map */
