$primary_color: #000;
$accent_color: #f97819;
$bg_color: #f4f4f4;
$white_color: #fff;
$blue_color: #b2d8fd;
html, body {
  margin: 0;
  padding: 0;
  font-family: 'PF Centro Sans Pro';
  color: $primary-color;
}
body {
  background-color: $bg_color;
}
a {
  color: $primary_color;
}
/**MAIN*/
main {
  padding: 30px 0;
  .container {
    border-top: 10px solid $blue_color;
    -webkit-box-shadow: 0 6px 10px #ccc;
    -moz-box-shadow: 0 6px 10px #ccc;
    box-shadow: 0 6px 10px #ccc;
  }
}
/**PERFORMER*/
.performer {

}
/**FOOTER*/
footer {
  background-color: $white_color;
  padding: 60px 0;
  border-bottom: 4px solid $accent_color;
  .copyright {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 20px;
  }
  .footer-nav {
    margin: 0;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 10em;
    padding-left: 0;
    li {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 12px;
      a {
        font-size: 13px;
      }
    }
  }
  .footer-social {
    margin-top: 25px;
    a {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .agreement {
    font-size: 12px;    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .agreement-notice {
      font-weight: 600;
    }
  }
  .footer-phone {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
    span {
      position: relative;
      padding-left: 20px;
      &:before {
        width: 20px;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/icon_tel.png) no-repeat 0 50%;
      }
    }
  }
  .work-hours {
    font-size: 12px;
    text-align: right;
    p {
      margin-top: 12px;
    }
  }
}




/**MEDIA*/
@media (max-width:1200px) {
  footer {
    .agreement {
      padding: 25px 0;
    }
    .footer-phone {
      text-align: center;
    }
    .work-hours {
      text-align: center;
    }
  }
}
@media (max-width:992px) {
  footer {
    .footer-logo {
      display: block;
      text-align: center;
    }
    .copyright {
      text-align: center;
    }
    .footer-nav {
      max-height: unset;
      list-style: none;
      li {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        text-align: center;
      }
    }
    .footer-social {
      text-align: center;
      a {
        padding: 20px;
        margin: 0;
      }
    }
    .agreement {
      padding: 25px 0;
    }
    .footer-phone {
      text-align: center;
    }
    .work-hours {
      text-align: center;
    }
  }
}