header {
	background: #f4f4f4;
	padding: 25px 0;
	a {
		transition: all .25s;
	}
	img {
		vertical-align: bottom;
	}
	.city {
		color: #282828;
		font-size: 14px;
		margin: 15px 0 0 0;
		a {
			color: #282828;
			display: inline-block;
			border-bottom: 1px dotted #282828;
			text-decoration: none;
			font-weight: 700;
			&:hover {
				border-color: transparent;
			}
		}
	}
	.info {
		padding: 0 0 0 40px;
	}
	.info_title {
		font-size: 38px;
		font-weight: 300;
		line-height: 1;
		position: relative;
		span {
			color: #f97819;
			font-weight: 900;
		}
		&:before {
			content: '';
			width: 30px;
			height: 2px;
			background: #f97819;
			position: absolute;
			top: 50%;
			left: -40px;
			margin: -1px 0 0 0;
		}
	}
	.info_descr {
		font-size: 20px;
		line-height: 1;
		margin: 5px 0 0 0;
	}
	.login {
		font-size: 0;
		text-align: right;
		a.link {
			color: #282828;
			font-size: 14px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 30px;
			position: relative;
			text-decoration: none;
			border-bottom: 1px solid #282828;
			line-height: 1;
			&:hover {
				border-color: transparent;
			}
			&:first-of-type {
				margin: 0;
			}
		}
		a.login {
			&:before {
				width: 12px;
				height: 12px;
				content: '';
				position: absolute;
				left: -20px;
				top: 50%;
				margin: -6px 0 0 0;
				background: url('../img/icon_login.png') no-repeat 50% 50%;
			}
			&:after {
				width: 1px;
				height: 12px;
				content: '';
				position: absolute;
				top: 50%;
				right: -15px;
				background: #282828;
				margin: -6px 0 0 0;
			}
		}
		a.cabinet {
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			color: #282828;
			text-decoration: none;
			padding: 10px 15px 10px 40px;
			background: #fff;
			border-radius: 7px;
			margin: 0 0 0 40px;
			position: relative;
			box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .12); 
			&:before {
				width: 24px;
				height: 12px;
				content: '';
				position: absolute;
				top: 50%;
				margin: -6px 0 0 0;
				left: 7px;
				background: url('../img/icon_user.png') no-repeat 50% 49%;
				border-right: 1px solid #e2e2e2;
			}
			&:hover {
				box-shadow: initial;
			}
		}
	}
	.contacts {
		text-align: right;
		margin: 15px 0 0 0;
		.line {
			font-size: 0;
		}
		a {
			display: inline-block;
			vertical-align: middle;
			font-size: 16px;
			text-decoration: none;
			position: relative;
		}
		a.mini {
			width: 35px;
			height: 35px;
			border-radius: 7px;
			margin: 0 0 0 25px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			span {
				display: inline-block;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background: #ff8023;
				color: #fff;
				font-weight: 900;
				font-size: 12px;
				line-height: 20px;
				text-align: center;
				top: -8px;
				right: -8px;
				position: absolute;
			}
		}
		a.mini.active {
			background-color: #fff;
			box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .12);
			position: relative;
			&:hover {
				box-shadow: initial;
			}
		}
		a.cart {
			background-image: url('../img/icon_cart.png');
			&:hover {
				background-image: url('../img/icon_cart_a.png');
			}
		}
		a.fav {
			background-image: url('../img/icon_fav.png');
			&:hover {
				background-image: url('../img/icon_fav_a.png');
			}
		}
		a.cart.active {
			background-image: url('../img/icon_cart_a.png');
		}
		a.fav.active {
			background-image: url('../img/icon_fav_a.png');
		}
		a.tel {
			margin: 0 0 0 35px;
			font-size: 18px;
			color: #000;
			font-weight: 900;
			padding: 0 0 0 20px;
			&:before {
				width: 20px;
				height: 100%;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: url('../img/icon_tel.png') no-repeat 0 50%;
			}
		}
		p {
			margin: 0 0 5px 0;
			font-size: 12px;
			line-height: 1;
			&:last-of-type {
				margin: 0;
			}
		}
	}
}

section.search {
	padding: 25px 0;
	background: url('../img/section_search_bg.jpg') no-repeat 50% 50%;
	text-align: center;
	background-size: cover;
	.container {
		position: relative;
		&:before {
			width: 258px;
			height: 218px;
			content: '';
			position: absolute;
			top: -52px;
			left: 42px;
			background: url('../img/loupe.png') no-repeat 50% 50%;
			z-index: 2;
		}
	}
	form {
		text-align: left;
		padding: 15px;
		background: rgba(255,255,255,.75);
		border-radius: 7px;
		display: inline-block;
		font-size: 0;
		position: relative;
		z-index: 5;
		::-webkit-input-placeholder {
			color: #282828;
			font-weight: 700;
		}
		::-moz-placeholder {
			color: #282828;
			font-weight: 700;
		}
		:-moz-placeholder {
			color: #282828;
			font-weight: 700;
		}
		:-ms-input-placeholder {
			color: #282828;
			font-weight: 700;
		}
		.input {
			display: inline-block;
			vertical-align: top;
			width: 380px;
			font-size: 16px;
			position: relative;
			&:before {
				width: 70px;
				height: 100%;
				content: '';
				position: absolute;
				background: url('../img/icon_loupe.png') no-repeat 50% 50%;
				top: 0;
				left: 0;
				z-index: 2;
			}
			input {
				display: block;
				width: 100%;
				border: 1px solid #d0d0d0;
				height: 75px;
				padding: 0 30px 0 70px;
				outline: none;
				color: #282828;
				font-size: 15px;
				border-radius: 7px 0 0 7px;
			}
		}
		.select {
			display: inline-block;
			vertical-align: top;
			width: 340px;
			font-size: 16px;
			position: relative;
			margin-left: -1px;
			&:before {
				width: 70px;
				height: 100%;
				content: '';
				position: absolute;
				background: url('../img/icon_cursor.png') no-repeat 50% 50%;
				top: 0;
				left: 0;
				z-index: 999999999999;
			}
			.selectric {
				height: 75px;
				border-radius: 0 7px 7px 0;
				background: #fff;
			}
			.selectric-label {
				height: 100%;
				line-height: 75px;
				margin: 0 30px 0 70px;
				font-size: 15px;
				font-weight: 700;
				color: #282828;
			}
			.selectric-button {
				width: 30px;
				height: 30px;
				top: 50%;
				margin: -15px 0 0 0;
				left: auto;
				right: 30px;
				cursor: pointer;
				outline: none;
				line-height: 30px;
			}
		}
		.submit {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			position: relative;
			margin: 0 0 0 5px;
			&:before {
				width: 65px;
				height: 100%;
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				background: url('../img/icon_submit.png') no-repeat 0 50%;
				z-index: 2;
				transition: all .25s;
			}
			input {
				display: block;
				outline: none;
				height: 72px;
				border-radius: 7px;
				min-width: 180px;
				color: #fff;
				font-size: 15px;
				font-weight: 900;
				text-transform: uppercase;
				padding: 0 65px 0 45px;
				background: #ff8023;
				border: none;
				cursor: pointer;
				box-shadow: 3px 3px 0px 0px rgba(190,83,4,1);
			}
			&:hover {
				&:before {
					background-position: 3px 50%;
				}
			}
		}
	}
}

section.bread {
	padding: 30px 0;
	background: #fff;
	ul {
		font-size: 0;
		li {
			display: inline-block;
			font-size: 14px;
			color: #000;
			padding: 5px 30px 5px 0;
			position: relative;
			&:before {
				width: 4px;
				height: 4px;
				content: '';
				position: absolute;
				top: 50%;
				right: 13px;
				margin: -2px 0 0 0;
				background: #000;
				border-radius: 100%;
			}
			a {
				color: #0d82c7;
				display: inline-block;
				border-bottom: 1px solid #0d82c7;
				text-decoration: none;
				line-height: 1;
				transition: all .25s;
				&:hover {
					border-color: transparent;
				}
			}
			&:last-of-type {
				&:before {
					display: none;
				}
			}
		}
	}
}